---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<h1 class="pt-24 text-center text-5xl">The New Constitution</h1>
	<div class="mx-[20%] my-20">
		<p>
			This document aims to establish a Federation of States, built upon the principles of
			decentralization, separation of powers and limited government. This document shall be the
			supreme law of the Federation. Any law inconsistent with this document shall be void.
		</p>
		<h2 class="text-3xl border-b-2 mt-5 border-black">Article I: Legislative Branch</h2>
		<h3 class="mt-5 text-xl">Section 1</h3>
		<p>
			All federal legislative powers herein granted shall be divided between two separate
			legislative bodies. Powers not herein explicitly granted shall not be exercised. One
			legislative body shall herein be called the Revenue Congress, while the other legislative body
			shall herein be called the Expenditure Congress. Each Congress shall consist of two separate
			chambers called a Senate and a House.
		</p>
		<h3 class="mt-5 text-xl">Section 2</h3>
		<p>
			A House shall be composed of at least 200 Representatives elected through a nationwide popular
			vote which achieves proportional representation of the electorate. Specifically they shall be
			elected through a closed party-list system, where each political party shall get a number of
			seats proportional to their share of the vote. Representatives shall serve four-year terms,
			and accordingly the election of Representatives shall take place every four years. The
			election of Representatives in the Revenue Congress shall be offset by two years compared to
			the election of Representatives in the Expenditure Congress. When vacancies occur, the
			political party holding the vacant seat shall be entitled to appoint a new Representative to
			serve for the remainder of the term. Each Representative shall have one vote in the House.
			<br /><br />
			The terms of Representatives shall begin at noon on the third Monday of January after the election,
			and end at the same time four years later; and the terms of their successors shall then begin.
		</p>
		<h3 class="mt-5 text-xl">Section 3</h3>
		<p>
			A Senate shall be composed of two Senators from each State. Senators shall be appointed by
			their respective State legislatures. When vacancies occur, the State legislature may appoint a
			new Senator to serve for the remainder of the term. Each Senator shall have one vote in the
			Senate.

			<br /><br />The terms of Senators shall begin immediately upon appointment and end together
			with the terms of Representatives in the Revenue Congress who were serving at time of
			appointment.
		</p>
		<h3 class="mt-5 text-xl">Section 4</h3>
		<p>
			Each State legislature shall prescribe the exact times, places and other details of polling
			stations in their respective State for the election of Representatives, but the Electoral
			branch may at any time make or alter such regulations. <br /><br /> No person shall be a federal
			legislator who is not at least 25 years of age. <br />No person shall be a federal legislator
			who has already served two terms as a federal legislator. <br /> No person shall be a federal legislator
			who is also holding a position at the Judicial or Electoral branch.<br /> No person shall serve
			as more than one federal legislator at a time.<br /><br />
		</p>

		<h3 class="mt-5 text-xl">Section 5</h3>
		<p>
			Each Senate and each House shall have a board of proposed legislation where members can at any
			time add their own proposed bills, as well as their signature to proposed bills to signal
			their affirmative vote. For a bill to become law it shall have passed both chambers of the
			appropriate Congress. For a bill to pass a chamber it shall have gotten affirmative votes of
			more than 60% of the whole chamber, including vacant seats. The only exception are bills which
			solely repeal one or more previously passed bills in their entirety, they shall only need 50%
			affirmative votes to pass, and shall only need to pass in one chamber of the appropriate
			Congress to come into effect. Repeal-bills cannot themselves be repealed through this
			mechanism.<br /><br />Each Senate and each House shall keep a journal of its proceedings, and
			from time to time publish said journal, excepting parts that may in their judgment require
			secrecy. All votes shall be entered on the journal. <br /><br /> Each Senate and each House may
			otherwise determine the rules of its proceedings as long as they are compatible with constitutional
			requirements.
		</p>
		<h3 class="mt-5 text-xl">Section 6</h3>
		<p>
			Senators and Representatives shall in all cases, except felony and breach of the peace, be
			privileged from arrest during their attendance of their respective chambers, and in going to
			and returning from the same; and for any speech or debate in either chamber, they shall not be
			questioned in any other place. <br /><br />No Senator or Representative shall, during the time
			for which they were elected, be appointed to any civil office which shall have been created,
			or the emoluments whereof shall have been increased during such time.
		</p>
		<h3 class="mt-5 text-xl">Section 7</h3>
		<p>
			The Revenue Congress shall have the exclusive authority to lay taxes, borrow on credit, create
			money or otherwise raise revenue for the Federal government. All money raised shall
			immediately go into the Federal treasury.<br /><br />The only tax the the Revenue Congress
			shall have the power to lay is a tax on the gross revenues of State governments
		</p>
		<h3 class="mt-5 text-xl">Section 8</h3>
		<p>
			The Expenditure Congress shall have the exclusive authority to use the money in the Federal
			treasury. <br /><br />The Expenditure Congress shall have the power to organize the common
			defense; <br />To pay the debts of the Federation;
			<br />To regulate commerce with foreign nations;<br />
			To establish a uniform rule of naturalization, and uniform laws on the subject of bankruptcies
			throughout the United States, provided that this shall not be construed to authorize legislation
			prohibiting the entry into the United States of any person entering for peaceful, non-criminal
			reasons, and who is not suffering a contagious disease;<br />
			To promote the progress of science and useful arts, by securing for a limited time to authors and
			inventors the exclusive right to their respective writings and discoveries;<br />
			To establish courts inferior to the Supreme Court;<br />
			To provide for the punishment of counterfeiting the current money of the Federation;<br />
			To declare War, grant Letters of Marque and Reprisal, and make Rules concerning Captures on Land
			and Water; <br />
			To regulate the common natural environment;<br />
			To make laws regarding the enforcement and punishment of murder, assault, rape, theft and other
			violent crimes.
		</p>
		<h2 class="text-3xl border-b-2 mt-5 border-black">Article II: Executive Branch</h2>
		<h3 class="mt-5 text-xl">Section 1</h3>
		<p>
			The power to execute federal laws shall be vested in a Federal Council. The Federal Council
			shall consist of five Ministers. Namely a Minister of Defense, a Minister of Environment, a
			Minister of Foreign Affairs, a Minister of Justice, and a Minister of Property Rights.
		</p>
		<h3 class="mt-5 text-xl">Section 2</h3>
		<p>
			Following the election and inaugeration of a new House in the Expenditure Congress, the new
			Representatives shall elect Ministers as soon as possible. Specifically, the political parties
			which get to fill the Ministerial positions shall be elected by the Representatives in the
			Expenditure Congress through a proportional electoral system which produces a ranked list of
			five winners. The parties shall get to choose which ministerial position to fill in the order
			of the ranked list.
			<br /><br />The terms of Ministers shall begin immediately after their selection by their
			party, and last until the next House in the Expenditure Congress has elected their new
			Ministers, but under no circumstance shall their terms last more than 30 days after a new
			House in the Expenditure Congress has been inaugerated.
			<br /><br />Before a Minister takes office, they shall take the following Oath or
			Affirmation:—"I do solemnly swear (or affirm) that I will faithfully execute the tasks of my
			office, and will to the best of my ability, preserve, protect and defend the Constitution of
			the Federation."
		</p>

		<h3 class="mt-5 text-xl">Section 3</h3>
		<p>
			No person shall be a federal Minister who is not at least 25 years of age.
			<br />
			No person shall be a federal Minister who is also holding a position at the Judicial or Electoral
			branch.
			<br />
			No person shall be a federal minister who has already served two terms as a federal Minister.
			<br />
			No person shall serve as more than one federal Minister at a time.
		</p>
		<h3 class="mt-5 text-xl">Section 4</h3>
		<p>TODO: Responsibilities of each minister</p>
		<h2 class="text-3xl border-b-2 mt-5 border-black">Article III: Judicial Branch</h2>
		<h3 class="mt-5 text-xl">Section 1</h3>
		<p>
			The federal judicial power shall be vested in a Supreme Court, and in inferior courts
			established by the Expenditure Congress. The judges, both of the Supreme and inferior courts,
			shall receive a compensation for their work, which shall not be reduced during their tenure.
		</p>
		<h3 class="mt-5 text-xl">Section 2</h3>
		<p>
			Each State legislature shall appoint one Supreme Court Justice to serve for a 20-year term
		</p>
		<h2 class="text-3xl border-b-2 mt-5 border-black">Article VII</h2>
		<p>
			To hold any constitutionally recognized office a person shall be at least 25 years of age. No
			person shall hold more than one constitutionally recognized office at a time. No person shall
			serve more than two four year terms in any constitutionally recognized office.
		</p>
	</div>
</MainLayout>
