---
import CardGallery from "../components/CardGallery.astro";
import Morpher from "../components/Morpher";
import MainLayout from "../layouts/MainLayout.astro";
import "../components/misc.css";
import Benefits from "../components/Benefits.astro";
---

<MainLayout>
	<div
		class="bg-meander_dark [background-size:25px,25px] bg-repeat-x lg:flex lg:flex-row-reverse items-center pb-5 lg:min-h-[80vh]"
	>
		<div class="w-full p-[25px]">
			<img
				src="/src/images/justice.svg"
				class="noselect object-contain lg:w-2/3 mx-auto"
				alt="Lady justice"
			/>
		</div>
		<div>
			<h1 class="text-[3.5rem] lg:leading-normal pl-2 text-black font-[Poppins] lg:text-[7vw]">
				The New Constitution
			</h1>
			<div class="flex justify-between">
				<Morpher client:load />
				<a href="/draft" class="btn bg-accent text-black mr-5 hover:bg-[#00cc81]">Read the draft!</a
				>
			</div>
		</div>
	</div>
	<Benefits />
	<div class="bg-meander_dark [background-size:25px,25px] bg-repeat-x h-[25px]"></div>
	<CardGallery />
	<div class="h-96 bg-meander_dark [background-size:25px,25px] bg-repeat-x">
		<h2 class="text-7xl text-center pt-16 font-[poppins]">Spread the word!</h2>
		<section class="w-full text-center mt-16" id="share">
			<a
				href="https://www.reddit.com/submit?url=newconstitution.pages.dev"
				target="”_blank”"
				class="btn bg-success text-black hover:bg-[#00cc81]">Share on Reddit</a
			>
		</section>
	</div>
</MainLayout>
