---
import CardGallery from "../components/CardGallery.astro";
import Morpher from "../components/Morpher";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<section class="bg-meander-pattern bg-[length:25px] bg-repeat-x h-screen flex items-center">
		<h1 class="text-[7vw] w-1/2 pl-2 text-black font-[Poppins]">
			The New Constitution
			<div class="ml-2 mt-2 text-3xl">
				<Morpher client:load />
			</div>
		</h1>
		<div class="w-full text-center">
			<img src="/pantheon.svg" class="object-contain w-1/2 mx-auto" alt="Pantheon" />
			<p class="mb-20">Creating the foundation for a better future.</p>
		</div>
	</section>
	<CardGallery />
	<section class="bg-libyellow">
		<h2 class="text-black text-8xl text-center pt-5 mb-28">Why a new constitution?</h2>
		<div class="flex justify-evenly mb-32">
			<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
				<img src="decentralize.webp" alt="" />
				<div class="text-center">Decentralize Power</div>
			</figure>
			<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
				<img src="decentralize.webp" alt="" />
				<div class="text-center">Alleviate Poverty</div>
			</figure>
			<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
				<img src="decentralize.webp" alt="" />
				<div class="text-center">Enhance Separation of Powers</div>
			</figure>
		</div>
		<div class="flex justify-evenly pb-20">
			<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
				<img src="decentralize.webp" alt="" />
				<div class="text-center">Promote Growth</div>
			</figure>
			<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
				<img src="decentralize.webp" alt="" />
				<div class="text-center">Better Representation</div>
			</figure>
			<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
				<img src="decentralize.webp" alt="" />
				<div class="text-center">Fiscal Restraint</div>
			</figure>
		</div>
	</section>
</MainLayout>
