---
import CardGallery from "../components/CardGallery.astro";
import Morpher from "../components/Morpher";
import MainLayout from "../layouts/MainLayout.astro";
import "../components/misc.css";
---

<MainLayout>
	<div class="bg-meander-pattern bg-[length:25px] bg-repeat-x flex items-center">
		<div class="flex flex-col">
			<h1 class="text-[7vw] pl-2 text-black font-[Poppins]">The New Constitution</h1>
			<Morpher client:load />
		</div>
		<div class="w-full text-center mt-[30px]">
			<img src="/justice.svg" class="noselect object-contain w-2/3 mx-auto" alt="Pantheon" />
			<p class="italic mt-4 font-mono">Creating the foundation for a better future.</p>
		</div>
	</div>
	<CardGallery />
	<section>
		<h2 class="text-black text-8xl text-center pt-5 mb-14 font-[poppins]">
			Why a new constitution?
		</h2>
		<p class="w-2/3 m-auto">
			It is undeniable that today’s constitutions have played a crucial role in human civilization’s
			transition from absolute monarchies to societies based on democracy and rule of law. After
			thousands of years living under tyrannical despots, the Enlightenment brought with it a new
			paradigm where all individuals were created equal and had a right to be free. The
			constitutions created during this period were designed to protect these values, and became
			symbols of the people’s struggle to live up to these ideals. Most modern constitutions are
			based on these Enlightenment constitutions, and build on concepts such as the tripartite
			separation of powers and enumerated rights. The problem is that the last century has brought
			with it modern problems that the thinkers of the Enlightenment era did not foresee and plan
			for in their constitutional designs. Problems such as political incentives leading to
			irresponsible government finances, privacy in a digital world, and political dynamics leading
			to extreme warping of the law. Modern attempts to update constitutions are focused on
			single-issue amendments designed to ensure that a specific policy is maintained, rather than
			changing how our governmental structures work, because the former approach is direct and easy,
			but also less durable and sustainable.

			<br /><br />That is why The New Constitution Project was created to analyze how different
			government structures incentivize certain policy outcomes by altering political dynamics and
			incentives. The culmination of this work is a draft of The New Constitution, which aims to be
			the foundation for a better future.
		</p>
		<div class="flex justify-evenly mb-32">
			<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
				<img src="decentralize.webp" alt="" />
				<div class="text-center">Decentralize Power</div>
			</figure>
			<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
				<img src="decentralize.webp" alt="" />
				<div class="text-center">Reduce Poverty</div>
			</figure>
			<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
				<img src="decentralize.webp" alt="" />
				<div class="text-center">Protect Individual Liberty</div>
			</figure>
		</div>
		<div class="flex justify-evenly pb-20">
			<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
				<img src="decentralize.webp" alt="" />
				<div class="text-center">Promote Growth</div>
			</figure>
			<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
				<img src="decentralize.webp" alt="" />
				<div class="text-center">Better Representation</div>
			</figure>
			<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
				<img src="decentralize.webp" alt="" />
				<div class="text-center">Fiscal Responsebility</div>
			</figure>
		</div>
	</section>
</MainLayout>
