---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
	title="Rationale"
	description="A guide to the theoretical and empirical basis for the inclusions and exclusions in the draft of the New Constitution"
>
	<div class="text-center">
		<p>Under construction.</p>
	</div>
</MainLayout>
