---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout>
	<div class="pt-56 pl-56 pr-56 text-center">
		<p>I don&rsquo;t know any country which puts its constitution in such a high regard as the US. But looking at
			the last century of massive government expansion, and no signs of it slowing down, it is evident the US
			constitution has serious flaws. Sure, some of it can be chalked up to misinterpretation, but I would say it
			is a flaw of a constitution if there is room for misinterpretation. Still, the US constitution has had some
			successes and there is a lot we can learn from it. I would also be interested if anyone knows any other
			constitutions we could learn from.<br />
			​<br />
			**What has worked?**<br />
			Separation of powers should in theory limit the scope of government as you are less likely to support
			government intervention if you are not in total control. For example a Democrat is less likely to support a
			law enabling the government to jail dissidents if there is a Republican in office who is going to enforce
			the law. Separation of powers has worked pretty well across the world, especially a separate judicial
			branch. The US has a better separation of powers than most countries as the executive is more independent of
			the legislative branch compared to parliamentarian democracies. But one flaw I see in the US is that the
			president has too much power, and I think that comes from his veto-power which violates the separation of
			powers. I think separation of powers is something we should expand on greatly to reduce the scope of
			government.<br />
			Direct protection of certain rights such as the first amendment has also worked well imo. One drawback is
			that the protections can get eroded over time by misinterpretation and misfit with modern reality, like the
			fourth amendment in a digital world and the second amendment in a world with nukes. Another danger with this
			approach is that if the constitution is too restrictive, it may just be thrown out or willfully
			misinterpreted. [This has been the experience with too strict budgetary
			rules.](https://www.cato.org/tax-budget-bulletin/budget-restraints-work-lessons-chile-switzerland-united-kingdom-united-states#lessons-for-a-u-s-fiscal-rule)
			That is not to say that a new constitution should not have more protections, but I don&rsquo;t think you can
			totally enshrine a limited government free market system in the constitution. Instead you should mainly rely
			on enshrining institutions that incentivize limited government. [As Milton Friedman
			said](https://youtu.be/MEVI3bmN8TI) (paraphrased): the way you solve things is not by electing the right
			people to do the right thing, but to make it politically profitable for the wrong people to do the right
			thing.<br />
			Federalism is another concept that has had a positive impact on the scope of government. Competition between
			states creates pressure on them to have less insane taxation and regulation than they otherwise would. There
			are many stories concerning this, like Tesla moving from California to Texas. We also know many politicians
			are afraid of this competition, [as evidenced by the recent push for tax
			cartelization.](https://www.cato.org/blog/janet-yellen-wrong-tax-competition) Successful federalism is
			dependent on both free flow of goods and people between states, and a limited federal government which
			can&rsquo;t use its monopoly power over the land to increase the price of living and doing business.
			Furthermore, the states should be small to foster more competition. Some states, like California, have
			monopolies over very attractive areas, and could easily be broken up. As we all know the US federal
			government was supposed to be limited, [but certain Supreme Court decisions have thrown that concept out the
			window.](https://en.wikipedia.org/wiki/Wickard_v._Filburn) Therefore a new constitution should have some
			mechanisms to keep the federal government limited.<br />
			The bicameral legislature has put a brake on a lot of legislation, especially when there is conflict between
			the two chambers. [The evidence shows that spending grows the least when there is divided
			government.](https://www.cato.org/commentary/government-works-better-when-divided) The nature of the senate
			also gives a voice to the states, which have limited federal government in their own self interest. A new
			constitution should therefore keep the bicameral legislature, enhance the senate&rsquo;s role as a
			representation of states, and try to maximize chance of conflict between the two chambers.<br />
			**What has not worked?**<br />
			The American electoral process is pretty bad imo. First-past-the-post-winner-takes-all systems prevents
			minorities, such as libertarians, from getting representation. Furthermore, to get elected&nbsp; there is
			pressure on politicians to prioritize special interests above the general good because of the disperse costs
			and concentrated benefits, [just as Milton Friedman pointed out.](https://youtu.be/qJCeoFxrDn0?t=549) This
			phenomena lessens the virtues of gridlock in congress as it incentivizes compromise in congress to consist
			of spending increases on both parties&rsquo; special interests instead of cuts to both of their special
			interests. A new constitution should therefore change the voting system, and try to diminish the effects of
			disperse costs and concentrated benefits.<br />
			​<br />
			**Proposals**<br />
			Based on this analysis I have several proposals for what should be in a new constitution.<br />
			1. Separate the power to tax and borrow from the power to spend. There are multiple ways this could be done,
			but I propose creating a new house and senate (going to call them &ldquo;revenue chambers&rdquo;) and give
			them the sole power to tax and borrow, and give the the sole power to spend that revenue and create all
			other laws to the existing house and senate. This would disincentivize the revenue chambers from financing
			an expansive government, (especially with different parties in control of revenue and spending chambers), as
			they would not be in control of how all that money is spent. [The evidence from state governments show that
			states with separate spending and tax committees spend
			less.](https://www.mercatus.org/publications/urban-economics/house-divided-against-itself-cannot-spend-much-fiscal-effect-separate)
			This would also somewhat alleviate the issues concerning disperse costs and concentrated benefits as the
			revenue reps would not face the same pressure from special interests, and the spending reps would have to
			fight over a fixed sum which would pit special interests against each other instead of against the general
			public.<br />
			2. No presidential veto as it violates separation of powers and gives the president too much power.<br />
			3. Change house elections to a proportional representation system, like a party list system, to ensure
			minorities like libertarians get representation in the legislative process.<br />
			4. Make senators and supreme court judges appointed by each state government. State politicians have a huge
			self-interest in keeping the federal government limited, as a more expansive federal government lessens
			their own power, and would thus appoint senators and judges who would keep the federal government limited.
			This would obviously entail expanding the Supreme Court to the number of states.<br />
			5. Abolish the electoral college and make the president elected by nationwide popular vote with the [ranked
			pairs method.](https://en.wikipedia.org/wiki/Ranked_pairs) This should be done to balance proposal 4.<br />
			6. Stagger elections to maximize the chance of conflict between different chambers. [History shows that the
			president&rsquo;s party rarely win
			midterms.](https://www.pewresearch.org/fact-tank/2021/02/03/single-party-control-in-washington-is-common-at-the-beginning-of-a-new-presidency-but-tends-not-to-last-long/)
			Could be done many different ways, but for example: elections of spending reps could be done together with
			presidential election while election of revenue reps and appointment of all senators could happen on midterm
			years.<br />
			7. Geographical size cap on states. Ideally everyone should be able to work and shop in a neighboring state
			to drive competition. I think states the size of Massachusetts or New Hampshire is a good size to aim
			for.<br />
			8. Mandate free flow of people and goods between states to encourage competition. This is currently not a
			problem in the US, but as far as I know the US federal government currently has the authority to limit
			this.<br />
			9. Limit the federal government to tasks concerning the NAP and foreign policy. This would obviously have to
			be very clearly defined to not be misinterpreted again, so remove vague terms like &ldquo;general
			welfare&rdquo; and use examples.<br />
			10. Require less votes to repeal a law than to pass a law. There is a bias towards more and more laws and
			regulations, and I think a system where it requires 30% of votes to repeal a law and 70% to pass a law would
			go a long way in remedying this. Only the constitution would be exempt.<br />
			​<br />
			**Some other interesting concepts that should be explored:**<br />
			Sortition could get rid of a lot of the harmful incentives related to elections<br />
			Some countries have special legislative seats for minorities and sectors in the economy. For example New
			Zealand has some constituencies where only the indigenous population can vote, and Hong Kong&nbsp; have some
			constituencies where only people in a certain economic sector can vote, for example engineering.<br />
			Making a privacy coin like Zcash legal tender in the constitution would give some stability to crypto and
			make it hard for the government to collect many taxes such as income and sales tax.&nbsp;<br />
			Edit: Another idea is to make the only tax the federal government can levy a tax on state revenues.<br />
			Edit2: Another idea is to make the house in the revenue chamber elected by a party agnostic electoral method
			(Schulze STV), and the house in the spending chamber by a party list. A difference in electoral methods
			would further increase likelihood of conflict between the two chambers. Making the revenue chamber party
			agnostic would also make it more difficult for the uneducated to know who to vote for, and channel their
			focus on the budget-constrained party system in the spending congress. This could however lead to nobody
			from parties with 1% support being elected to the revenue chamber as that would require at least 100
			representatives for each electoral district, which would be too much for a ballot.<br />
			Edit3: Short term limits for all federal elected officials. This is to prevent strong leaders from emerging
			on the federal level and creating support for centralized government. Humans are tribal animals and will
			naturally gravitate towards having some sort of leader. If that void cannot be filled by private sector
			individuals it may be neccessary to promote state governors or legislators as leaders by giving them
			ceremonial duties like the state of the union address and presidential inaugeration.&nbsp;<br />
			What other proposals could protect limited government and free market capitalism?</p>
	</div>

</MainLayout>