<section class="bg-secondary bg-meander_light [background-size:25px,25px] bg-repeat-x text-white">
	<h2 class="text-7xl text-center pt-10 font-[poppins]">Why a new constitution?</h2>
	<p class="w-3/5 m-auto mt-7 mb-9">
		Today's constitutions have served us well, but were not designed to tackle modern problems. That
		is why The New Constitution Project was created to analyze how current governmental structures
		incentivize modern problems such as irresponsible finances, erosion of rights and warping of the
		law. The culmination of this work is a draft of The New Constitution, which aims to be the
		foundation of a future society that is not limited by the shortcomings of today's constitutions.
	</p>
	<h3 class="text-center text-4xl font-[poppins] mb-8">What can The New Constitution achieve?</h3>
	<div class="flex justify-evenly mb-32">
		<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
			<img src="icons/decentralized.svg" class="invert object-fill" alt="" />
			<div class="text-center">Decentralize Power</div>
		</figure>
		<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
			<img src="icons/poverty.svg" class="invert" alt="" />
			<div class="text-center">Reduce Poverty</div>
		</figure>
		<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
			<img src="icons/liberty.svg" class="invert object-cover" alt="" />
			<div class="text-center">Protect Individual Liberty</div>
		</figure>
	</div>
	<div class="flex justify-evenly pb-20">
		<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
			<img src="icons/growth.svg" class="invert" alt="" />
			<div class="text-center">Promote Growth</div>
		</figure>
		<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
			<img src="icons/representation.svg" class="invert" alt="" />
			<div class="text-center">Better Representation</div>
		</figure>
		<figure class="flex flex-col justify-center items-center w-[10vw] whitespace-nowrap">
			<img src="icons/balance.svg" class="invert" alt="" />
			<div class="text-center">Fiscal Responsibility</div>
		</figure>
	</div>
</section>
