---
---

<article class="card card-side bg-libwhite shadow-xl m-10 w-5/12 h-56 inline-flex">
	<figure class="w-2/4 inline-block"><img class="h-full" src={Astro.props.imagepath} /></figure>
	<div class="card-body w-3/5">
		<h2 class="card-title">{Astro.props.name}</h2>
		<p class="italic whitespace-pre-wrap">{Astro.props.quote}</p>
	</div>
</article>
