<footer class="footer footer-center p-4 bg-primary text-base-content">
	<div class="inline-block">
		Decentralization icon by <a href="https://thenounproject.com/noomtah/">Nithinan Tatah</a><br />
		Pantheon icon by <a href="https://freeicons.io/profile/823">Muhammad Haq</a> on <a
			href="https://freeicons.io">freeicons.io</a
		><br />Blind justice icon by <a href="https://www.svgrepo.com/svg/1348/justice">SVG Repo</a>
		<p>Copyright © 2022 - All right reserved by ACME Industries Ltd</p>
	</div>
</footer>
