<footer class="footer footer-center p-4 bg-base-300 text-base-content">
	<div>
		Pantheon icon by <a href="https://freeicons.io/profile/823">Muhammad Haq</a> on <a
			href="https://freeicons.io">freeicons.io</a
		>
		<p>Copyright © 2022 - All right reserved by ACME Industries Ltd</p>
	</div>
</footer>
