---
import zcash from "../images/icons/zcash.svg";
import QR from "../images/QR.png";
---

<footer class="footer footer-center p-4 bg-accent text-base-content">
	<div class="break-all text-xs">
		Donate with Zcash: <br
		/>u1qxkrn50z8aa55nj5wjjjvktvdcwqyetjyf4fvcan6338cty2qv87l3g8jmmtu297gaxw0649gh5a84tppk49s75eq64vvvvga4knkv0dvfg0g0rfw20p7edq0u2kndp3nmwuqugzwygwc5ahes9cnl290pnatt9xm9e5s8x6yn8l4z9u7djaxzax9gufanx89k808hz33aakkwtgpqn
	</div>
	<div class="flex w-full text justify-evenly lg:justify-center">
		<img class="h-16" src={zcash} alt="ZCash Logo" />
		<img class="h-40" src={QR} alt="QR code for Zcash donations" />
	</div>
	Zcash is a trademark of the Zcash Foundation. Used with permission from the Zcash Foundation
</footer>
