<div class="navbar py-0 bg-base-100">
	<div class="navbar-start">
		<div class="dropdown">
			<div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="h-5 w-5"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
					><path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M4 6h16M4 12h8m-8 6h16"></path></svg
				>
			</div>
			<ul
				tabindex="0"
				class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
			>
				<li><a class="active:!bg-accent active:!text-accent-content" href="/draft">Draft</a></li>
				<li>
					<a class="active:!bg-accent active:!text-accent-content" href="/rationale">Rationale</a>
				</li>
				<li>
					<a class="active:!bg-accent active:!text-accent-content">Discussion</a>
					<ul class="p-2">
						<li>
							<a
								class="active:!bg-accent active:!text-accent-content"
								href="https://www.reddit.com/r/Constitution_Project">Reddit</a
							>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<a href="/" class="btn btn-ghost text-lg">New Constitution Project</a>
	</div>
	<div class="navbar-center hidden lg:flex">
		<ul class="menu menu-horizontal px-1 text-base">
			<li>
				<a class="active:!bg-accent active:!text-accent-content" href="/draft">Draft</a>
			</li>
			<li>
				<a class="active:!bg-accent active:!text-accent-content" href="/rationale">Rationale</a>
			</li>
			<li>
				<details>
					<summary class="active:!bg-accent active:!text-accent-content">Discussion</summary>
					<ul class="p-2 bg-primary border border-black w-full">
						<li>
							<a
								class="active:!bg-accent active:!text-accent-content"
								href="https://www.reddit.com/r/Constitution_Project">Reddit</a
							>
						</li>
					</ul>
				</details>
			</li>
		</ul>
	</div>
	<div class="navbar-end invisible sm:visible">
		<a
			href="/#share"
			class="btn bg-red-500 text-white hover:bg-red-400 border-1 border-black hover:border-gray-200"
			>CALL FOR ACTION!</a
		>
	</div>
</div>
