---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/x-icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%2285%22 font-size=%2285%22>📜</text></svg>"
		/>
		<title>The New Constitution</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
	</head>

	<body class="bg-libwhite">
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
