---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import ladyJustice from "../images/portraits/Frederic-Bastiat.jpg";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content="A draft of a new and modern constitution which aims to allievate structural shortcomings of old constitutions."
		/>
		<meta property="og:title" content="The New Constitution" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://newconstitution.pages.dev/" />
		<meta property="og:image" content={ladyJustice} />
		<link
			rel="icon"
			type="image/x-icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%2285%22 font-size=%2285%22>📜</text></svg>"
		/>
		<title>The New Constitution</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
	</head>

	<body class="text-black">
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
