---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import ladyJustice from "../assets/justice.svg";
import "../misc.css";
---

<html lang="en" prefix="og: https://ogp.me/ns#">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content="A draft of a new and modern constitution which aims to fix structural shortcomings of current constitutions."
		/>
		<meta property="og:title" content="The New Constitution" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://newconstitution.pages.dev/" />
		<meta property="og:image" content={"https://newconstitution.pages.dev" + ladyJustice.src} />
		<link rel="icon" type="image/x-icon" href={ladyJustice.src} />
		<title>The New Constitution</title>
	</head>

	<body class="text-black">
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
