---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import ladyJustice from "../assets/justice.svg";
import "../misc.css";
---

<html lang="en">
	<head prefix="og: https://ogp.me/ns#">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content="A draft of a new and modern constitution which aims to fix structural shortcomings of current constitutions."
		/>
		<meta property="og:title" content="The New Constitution" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://newconstitution.pages.dev/" />
		<meta
			property="og:image"
			content="https://dims.apnews.com/dims4/default/6f03a08/2147483647/strip/true/crop/7217x4060+0+376/resize/1440x810!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2Fd1%2Fba%2F37d86ceea558f266a9b6ff5641d0%2F6e1fee5af4dd490c845890f5a01a5170"
		/>
		<meta
			property="og:description"
			content="A draft of a new and modern constitution which aims to fix structural shortcomings of current constitutions."
		/>
		<link rel="icon" type="image/x-icon" href={ladyJustice.src} />
		<title>The New Constitution</title>
	</head>

	<body class="text-black">
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
